.list-group-item {
    padding: 0;
}

.list-group-item.active {
    background-color: white;
    color: deepskyblue;
}

.navigation {
    background-color: deepskyblue;
    color: white;
    width: 85px;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    border-radius: 0;
}

.navigation_item {
    background-color: deepskyblue;
    color: white;
    border: 0;
    padding-bottom: 5px;
}

.navigation_icon {
    font-size: 2em;
    padding-top: 5px;
}